<div>
    <div class="container1">
        <div class="row">
            <div class="col-lg-12">
            <div class="zyx mt-5 mb-5">About us!!!</div> 
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="top-heading1 mt-5">
          Welcome To CONSULT
        </div>
        <p class="top-para1">
          Diam dolor diam ipsum sit. Clita erat ipsum et lorem stet no lorem sit 
          clita duo justo magna dolore
        </p>
        <p class="top-para2">
          Et stet ipsum nonumy rebum eos justo, accusam invidunt aliquyam stet magna at et sanctus, vero sea sit amet dolores, sit dolor duo invidunt dolor, kasd rebum consetetur diam invidunt erat stet. Accusam nonumy lorem kasd eirmod. Justo clita sadipscing ea invidunt rebum sadipscing consetetur. Amet diam amet amet sanctus sanctus invidunt erat ipsum eirmod.
        </p>
        <button class="btn btn-danger ">
          Get a Quote
      </button>
      </div>
      <div class="col-lg-6">
        <div class="aravind">
        <div class="row">
          <div class="col-lg-2 ">
            <div class="xyz mt-5">
            <i class="fa-solid fa-person"></i></div>
          </div>
          <div class="col-lg-10">
            <div class="top-heading2 mt-5">
              Business Planning
           </div>
           <p class="sub-heading1">
                Tempor erat elitr rebum at clita. Diam dolor ipsum amet 
                eos erat ipsum lorem et sit sed stet lorem sit clita duo
           </p>
          </div>
          </div>
          <div class="row">
            <div class="col-lg-2 ">
              <div class="xyz mt-5 ">
                <i class="fa fa-line-chart" aria-hidden="true"></i></div>
            </div>
            <div class="col-lg-10">
              <div class="top-heading2 mt-5">
                Financial Analaysis
             </div>
             <p class="sub-heading1">
                  Tempor erat elitr rebum at clita. Diam dolor ipsum amet 
                  eos erat ipsum lorem et sit sed stet lorem sit clita duo
             </p>
            </div>
            </div>
            <div class="row">
              <div class="col-lg-2 ">
                <div class="xyz mt-5 ">
                  <i class="fa fa-balance-scale" aria-hidden="true"></i></div>
              </div>
              <div class="col-lg-10">
                <div class="top-heading2 mt-5">
                  legal Advisory
               </div>
               <p class="sub-heading1">
                    Tempor erat elitr rebum at clita. Diam dolor ipsum amet 
                    eos erat ipsum lorem et sit sed stet lorem sit clita duo
               </p>
              </div>
              </div>
    </div>
