<div>
    <div class="container1">
        <div class="row">
            <div class="col-lg-12">
            <div class="zyx mt-5 mb-5">services</div> 
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="main mt-5 mb-5">
          What We Offer
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mb-5">
    <div class="row">
        <div class="col-lg-4 magnify">
            <div class="card">  
            <div class="card-body">
              <div class="card-logo">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
            <h5 class="card-title" style="text-align: center;">
              <b>Business Research</b></h5>
            <p class="card-text">
              Tempor erat elitr rebum at clita.<br/>Diam dolor ipsum amet eos erat<br/>ipsum lorem et sit sed stet lorem
            </p>
            </div>
            </div>
        </div>
        <div class="col-lg-4 magnify">
            <div class="card">
        <div class="card-body">
          <div class="card-logo">
            <i class="fa fa-th" aria-hidden="true"></i>
          </div>
            <h5 class="card-title" style="text-align: center;"><b>Stretagic Planning</b></h5>
            <p class="card-text">
              Tempor erat elitr rebum at clita.<br/>Diam dolor ipsum amet eos erat<br/>ipsum lorem et sit sed stet lorem   
            </p>
        </div>
    </div>
        </div>
        <div class="col-lg-4 magnify">
          <div class="card ">
      <div class="card-body">
        <div class="card-logo">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
        </div>
          <h5 class="card-title" style="text-align: center;"><b>Market Analysis</b></h5>
          <p class="card-text">
            Tempor erat elitr rebum at clita.<br/>Diam dolor ipsum amet eos erat<br/>ipsum lorem et sit sed stet lorem 
          </p>
      </div>
  </div>
      </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-4 magnify">
            <div class="card">
        <div class="card-body">
          <div class="card-logo">
            <i class="fa fa-area-chart" aria-hidden="true"></i>
            </div>
            <h5 class="card-title" style="text-align: center;"><b>Financial Analaysis</b></h5>
            <p class="card-text">
              Tempor erat elitr rebum at clita.<br/>Diam dolor ipsum amet eos erat<br/>ipsum lorem et sit sed stet lorem
            </p>
        </div>
    </div>
  
        </div>
        <div class="col-lg-4 magnify">
        <div class="card">
        <div class="card-body">
          <div class="card-logo">
            <i class="fa fa-balance-scale" aria-hidden="true"></i></div>
            <h5 class="card-title" style="text-align: center;"><b>legal Advisory</b></h5>
            <p class="card-text">
              Tempor erat elitr rebum at clita.<br/>Diam dolor ipsum amet eos erat<br/>ipsum lorem et sit sed stet lorem 
            </p>        
        </div>
    </div>
  
        </div>
        <div class="col-lg-4 magnify">
          <div class="card">
      <div class="card-body">
        <div class="card-logo">
          <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <h5 class="card-title" style="text-align: center;"><b>Tax & Insurance</b></h5>
          <p class="card-text">
            Tempor erat elitr rebum at clita.<br/>Diam dolor ipsum amet eos erat<br/>ipsum lorem et sit sed stet lorem
          </p>
      </div>
  </div>
  </div>
  </div>
  </div>
  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="top-one mt-5">
          Request A Free Quote
        </div>
        <p class="top-one1">Kasd vero erat ea amet justo no stet, et elitr no dolore no elitr sea kasd et dolor diam tempor. Nonumy sed dolore no eirmod sit nonumy vero lorem amet stet diam at. Ea at lorem sed et, lorem et rebum ut eirmod gubergren, dolor ea duo diam justo dolor diam ipsum dolore stet stet elitr ut. Ipsum amet labore lorem lorem diam magna sea, eos sed dolore elitr.</p>
        <div class="col-12 d-flex flex-row">
          <div class="mb-3 col-12 col-md-6">
              <input type="text" class="form-control" placeholder="Enter your name" />
          </div>
          <div class="mb-3 col-12 col-md-6">
              <input type="text" class="form-control"  placeholder="Email Address" />
          </div>
      </div>
      <div class="col-12 d-flex flex-row">
          <div class="mb-3 col-6">
              <input type="text" class="form-control" placeholder="Financial Consultancy" />
          </div>
      <div class="col-12 d-flex flex-row">
        <div class="mb-3 col-6">
          <button class="btn btn-danger">Request A Quote</button>
        </div>
      </div>
     </div>
  </div>
  <div class="col-lg-6">
    <div class="main-img">
      <img src="assets/edit.jpg" width="235%"/>
    </div>
  </div>
 </div>
 </div>

