.cointainer-fluid{
    background-color: red;
}
.hai{
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.top-heading{
    font-size: 30px;
    font-weight: bold;
    color: brown;
}
.main1{
    width: 570px;
}